.vanity-figure {
    width: 100%;
    background: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    padding: 25px 0;
    margin-bottom: 15px;

    h1{
        margin: 0;
        font-size: 3.3em;
        text-align: center;
    }

    h2 {
        margin: 0;
        font-size: 1.1em;
    }
}

.vanity-figure:last-of-type{
    margin-bottom: 0;
}