.contact {
    height: 50vh;
    display: flex;
    align-items: center;

    .text-holder {
        width: 45%;

        p {
            padding-bottom: 30px;
        }
    }
}


@media only screen and (max-width: 768px){
    .contact {
        .text-holder {
            width: 100%;
        }
    }
}

footer {
    font-size: 0.75em;
    background: $Black;
    padding: 10px;
    color: #FFFFFF;
    text-align: right;

    a{
        color: #FFFFFF;
    }
}