@import 'vars';
@import 'header';
@import 'above-fold';
@import './components/components.scss';

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gotham", sans-serif;
    background: $Yellow;
    color: $Black;
}

.container {
    width: 80%;
    margin:0 auto;
}

.row {
    width: 100%;
}

.split-column {
    display: flex; 

    > * {
        flex: 1;
        padding: 15px;
    }
}

p {
    line-height: 30px;
}